/*
 * Open Sans
 */
@font-face {
    font-family: $open-sans;
    src: url('#{$font-path}opensans-bold-webfont.eot');
    src: url('#{$font-path}opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}opensans-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}opensans-bold-webfont.woff') format('woff'),
         url('#{$font-path}opensans-bold-webfont.ttf') format('truetype'),
         url('#{$font-path}opensans-bold-webfont.svg#open_sansbold') format('svg');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: $open-sans;
    src: url('#{$font-path}opensans-regular-webfont.eot');
    src: url('#{$font-path}opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}opensans-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}opensans-regular-webfont.woff') format('woff'),
         url('#{$font-path}opensans-regular-webfont.ttf') format('truetype'),
         url('#{$font-path}opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: $open-sans;
    src: url('#{$font-path}opensans-semibold-webfont.eot');
    src: url('#{$font-path}opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}opensans-semibold-webfont.woff2') format('woff2'),
         url('#{$font-path}opensans-semibold-webfont.woff') format('woff'),
         url('#{$font-path}opensans-semibold-webfont.ttf') format('truetype'),
         url('#{$font-path}opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;

}

/*
 * Montserrat
 */
@font-face {
    font-family: $montserrat;
    src: url('#{$font-path}montserrat-regular-webfont.eot');
    src: url('#{$font-path}montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}montserrat-regular-webfont.woff2') format('woff2'),
         url('#{$font-path}montserrat-regular-webfont.woff') format('woff'),
         url('#{$font-path}montserrat-regular-webfont.ttf') format('truetype'),
         url('#{$font-path}montserrat-regular-webfont.svg#montserratregular') format('svg');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: $montserrat;
    src: url('#{$font-path}montserrat-bold-webfont.eot');
    src: url('#{$font-path}montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$font-path}montserrat-bold-webfont.woff2') format('woff2'),
         url('#{$font-path}montserrat-bold-webfont.woff') format('woff'),
         url('#{$font-path}montserrat-bold-webfont.ttf') format('truetype'),
         url('#{$font-path}montserrat-bold-webfont.svg#montserratbold') format('svg');
    font-weight: 700;
    font-style: normal;

}