/*-------------------
       Fonts
--------------------*/
$open-sans: 'Open Sans';
$montserrat: 'Montserrat';

$font-path: './fonts/';
@import 'fonts';

$headings-font-weight:       400;
$headings-line-height:       1;

$font-family-stack: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-base: $open-sans, $font-family-stack;
$headings-font-family: $montserrat, $font-family-stack;


/*-------------------
       Colors
--------------------*/

$body-bg: #FFFFFF;

$gray-dark:                 #212121;
$gray:                      #616161;
$gray-light:                #9E9E9E;
$gray-lighter:              #E8E8E8;
$gray-lightest:             #FAFAFA;

$brand-primary:             #0275d8 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;



// bootstrap
$enable-flex: true;
@import 'node_modules/bootstrap/scss/bootstrap';

// font-awesome
$fa-font-path: $font-path;
@import 'node_modules/font-awesome/scss/font-awesome';
